extends tasksLayout

block content
  h3 Task Count = #{list.length}
  ul
    each task in list
      li
        if task.isCompleted
          a(href='/tasks/toggle?id=#{task.id}', class='completed') #{task.name}
        else
          a(href='/tasks/toggle?id=#{task.id}') #{task.name}